<!DOCTYPE html>
<!--
    Money Counter ©2018-2019 Masatoshi Ishikawa.
    2019.02.27 Release Version 2.4.092
-->
<html lang="ja">
<head>
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="css/main.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="This is the one of the money counter application.">
    <title>まねかん by Horornis.com</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="./manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="まねかん">
    <link rel="icon" sizes="512x512" href="images/icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="まねかん">
    <link rel="apple-touch-icon" href="./images/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/icon-512x512.png">
    <meta name="msapplication-TileColor" content="olivedrab">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="olivedrab">
    <!-- Vue.js Develop -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Knob/1.2.13/jquery.knob.min.js"></script -->
    <script src="js/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/store2/2.7.1/store2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- script src="./js/vue-knob-control.min.js"></script -->
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://horornis.com/">
    -->
</head>
<body>
<!--script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./service-worker.js', {scope: 'https://horornis.com/mc/'})
            .then(function(reg) {
                // registration worked
                console.log('Registration succeeded. Scope is ' + reg.scope);
            }).catch(function(error) {
            // registration failed
            console.log('Registration failed with ' + error);
        });
    }
</script -->
<div class="wrap">
    <div class="content" id="app">
        <div class="dummy"></div>
        <div class="tbl">
            <div v-for="(item, index) in items" class="row" :id="item.type" :alt="item.name">
                <ul class="r2nd">
                    <li alt="hidden" class="del"><i class="fas fa-eraser"></i></li>
                    <li alt="handle" class="handle"><i class="fas fa-arrows-alt"></i></li>
                    <li alt="小計" class="sum" align="right">&yen;{{ subtotalMoney[index].toLocaleString() }}</li>
                </ul>
                <ul class="r1st">
                    <li><img :alt="item.name + 'の枚数'" class="image m-0 p-0" :src="'images/coin-' + item.unit + '.png'"/></li>
                    <li>
                        <input :aria-label="item.name" class="dial" type="number" v-model="item.number" data-max="50" data-fgColor="darkgreen"/>
                        <input class="cst" type="hidden" v-model="item.unit" width="1px" height="1px"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ft">
        </div>
        <div class="fixed-bottom border-white border-top-2">
            <div class="ft_txt">
                © 2019 Horornis.com All Rights Reserved.
            </div>
        </div>
        <!-- As a heading -->
        <span class="fixed-top">
            <nav class="navbar navbar-light bg-white border-bottom-4 border-success Regular shadow p-0 m-0">
                <img alt="まねかん Powered by Horornis.com." src="images/site-logo.png" class="navbar-brand" width="300"/>
                <span class="right">
                    <button class="btn btn-outline-primary m-0 p-0 foo" :data-clipboard-text="totalValue"><span id="sumtitle"> 合計 </span><span id="sumresult">&yen;{{ totalMoney }} </span><span id="sumconst">&#x1F4CB;</span></button>
                    <button class="btn btn-outline-danger allClear"><strong> C </strong></button>
                </span>
                <div class="bg-white header3">
                    <div class="item m-1">
                        <div class="hidemenu">
                            <div class="type">
                                非表示：
                            </div>
                            <div v-for="item in items" :class="'btn btn-outline-primary m-0 p-0 type' + item.type" :visible="!item.visible">
                                {{ item.name }}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12" id="alert_col"></div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            items: [
                {type: 's1', name: '1円', unit: 1, number: 0, visible: true},
                {type: 's5', name: '5円', unit: 5, number: 0, visible: true},
                {type: 's10', name: '10円', unit: 10, number: 0, visible: true},
                {type: 's50', name: '50円', unit: 50, number: 0, visible: true},
                {type: 's100', name: '100円', unit: 100, number: 0, visible: true},
                {type: 's500', name: '500円', unit: 500, number: 0, visible: true},
                {type: 's1000', name: '千円', unit: 1000, number: 0, visible: false},
                {type: 's2000', name: '弐千円', unit: 2000, number: 0, visible: false},
                {type: 's5000', name: '五千円', unit: 5000, number: 0, visible: false},
                {type: 's10000', name: '壱万円', unit: 10000, number: 0, visible: false}
            ]
        },
        computed: {
            totalMoney: function () {
                let total = 0;
                for (let i = 0; i < this.items.length; i++) {
                    if (this.items[i].visible) {
                        total += this.items[i].unit * this.items[i].number;
                    }
                }
                return Number(total).toLocaleString();
            },
            totalValue: function () {
                let total = 0;
                for (let i = 0; i < this.items.length; i++) {
                    if (this.items[i].visible) {
                        total += this.items[i].unit * this.items[i].number;
                    }
                }
                return total;
            },
            subtotalMoney: function () {
                let ret = [];
                for (let i = 0; i < this.items.length; i++) {
                    ret.push(Number(this.items[i].unit * this.items[i].number).toLocaleString());
                }
                return ret;
            }
        },
    })
</script>
<!-- script src="./js/main.js"></script -->
</body>
</html>
